@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=IM+Fell+Double+Pica+SC&family=Oldenburg&family=Playfair+Display:ital,wght@1,600&display=swap');

.navbar-brand {
	font-family: 'Oldenburg', serif;
}

#aettirlandmenu {
	font-family: 'Oldenburg', serif;
}

.nav-link:hover {
	border: 2px solid #b498e4;
}